body {
  background-color: #1f2937;
  color: #f3f4f6;
  font-family: "Inter";
  font-size: 16px;

  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  /* täida terve box nii, et footer on lehe alumises osas */
  flex: 1;
  display: flex;
  flex-direction: column;
  row-gap: 50px;
}

main,
header,
footer {
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  flex-shrink: 0;
}

main section {
  display: grid;
}

h1 {
  font-size: 32px;
}

.content-header {
  display: flex;
  justify-content: center;
  margin-top: 100px;
  margin-bottom: 100px;
}

h2 {
  font-size: 26px;
}

h3 {
  font-size: 22px;
}

.main-cards {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}

.main-cards figure img {
  max-width: 600px;
  height: auto;
}

.content {
  max-width: 600px;
}

.card-header {
  font-weight: bold;
  margin-bottom: 15px;
}

.card-content {
  font-weight: normal;
  margin-top: 20px;
  margin-bottom: 20px;
}


/* NAVBAR */

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header a {
  text-decoration: none;
  color: #f3f4f6;
  font-size: 22px;
}

.logo-text {
  font-size: 30px;
  font-weight: 600;
}

nav {
  display: flex;
  gap: 50px;
  /* lingid paremale */
  margin-left: auto;
}

/* FOOTER */

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  font-size: 16px;
  font-weight: normal;
  padding-bottom: 10px;
}

footer h2 {
  font-weight: bold;
  margin-bottom: 5px;
}

footer ul {
  list-style: none;
  padding-left: 0;
}

footer a {
  text-decoration: none;
  color: #f3f4f6;
}

footer a:hover {
  text-decoration: underline;
}

footer img {
  padding-top: 5px;
}